[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.3.1"
black = "*"

[packages]
envy = {editable = true,path = "."}

[pipenv]
allow_prereleases = true
